body {
    margin: 0;
    background-color: rgb(217, 213, 213);
}

/*NAV*/
nav {
    margin-top: 3rem;
}

.btn {
    height: 3rem;
    width: 5rem;
    background: #000000;
}

.dropdown-menu {
    height: 3rem;
    width: 15rem;
    background: gray;
}

.dropdown-menu li {
    display: inline-block;
    padding: 0px 25px;
    font: 1em sans-serif;
}

.dropdown-menu li a {
    text-decoration: none;
    color: black;
}
.dropdown-menu a:hover {
    color: white;
}

/*PAGINA INICIO*/
header {
    text-align: center;
    color: white;
    background-color: gray;
    border-top: solid 4rem black;
    padding: 2%;
}

h1 {
    font-size: 3rem;
    font-family: serif;
    text-decoration: underline overline;
}

/*MAIN*/
#menu {
    margin-top: 3rem;
    height: auto;
}

#menu h2 {
    margin-top: 3rem;
    margin-left: 1rem;
    text-decoration: underline;

}

#realizar-pedido {
    text-align: center;
    margin-top: 3rem;
}

#realizar-pedido button {
    background-color: #000000;
    width: 12rem;
    height: 3rem;
}

#realizar-pedido a {
    text-decoration: none;
    color:white;
}

/*MENU DE HAMBURGUESAS*/
.btn-primary {
    width: 100%;
    margin-block: 2rem;
    height: 5rem;
    font-size: 2rem;
}

.hamburguesa-detalles {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    background-color: gray;
}

.mostrar-detalles {
    height: auto;
}

img {
    width: 12rem;
    height: 12rem;
    float: inline-end;
    margin-right: 1rem;
}

/*MENU DE EXTRAS*/
#menu-extras {
    margin-left: 1rem;
    background-color: gray;
    width: fit-content;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    line-height: 2rem;
    justify-self: center;
}

/*PAGINA CONTACTO*/
#grilla-contactanos {
    margin-top: 3rem;
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 600px;
}

#lugar {
    text-align: center;
  }
  
#lugar iframe {
    width: 90%;
    height: 600px;
  }

#contacto {
    justify-self: center;
    font-family: inherit;
    background-color: grey;
    padding: 10% 10% 10% 10%;
    height: auto;
  }

#contacto h4 {
    line-height: 5rem;
}

/*PAGINA PEDIDO*/
#datos-registro {
    text-align: center;
}

#datos-registro form {
    display: grid;
    line-height: 3rem;
    justify-content: center;
}

#datos-registro input {
    margin-bottom: 1.5rem;
    width: 30rem;
    height: 2rem;
}

#datos-registro textarea {
    margin-bottom: 1.5rem;
}

/*BOTONES CARRITO*/
.botones-carrito {
    text-align: end;
    margin-right: 7rem;
}

.btn-quitar {
    width: 3rem;
    background-color: rgb(182, 39, 39);
}

.btn-agregar {
    width: 3rem;
    background-color: green;
}

/*FOOTER*/
footer {
    margin: 0px;
    margin-top: 3rem;
    background-color: #000000;;
    padding: 10px 0;
    text-align: center;
    color: white;
}

#grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

#grilla div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#area1 img{
    width: 14rem;
    height: 14rem;
}

#area2 p {
    margin: 5px 0;
    font-size: 18px;
}

#area2 p a {
    color: white;
    text-decoration: none;
}

#area3{
    width: max-content;
}

#area3 ul {
    list-style: none;
    padding: 0;
}

#area3 ul li {
    margin: 10px 0;
}

#area3 ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#area3 ul li a:hover {
    color: aqua;
}